/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bcdl-block-gallery-bcdl-block-gallery {
	border: 1px dotted #330;
}

.img-contain {
	border: 1px dotted #f00;	
}

.card-img,
.image-button {
	height: 100%;
}

.modal {
	display: none;
}